*{
    /* border: 1px solid red; */

    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 25px;
    color: antiquewhite;
}

body{
    width: 100%;
    height: 100vh;  
    background-image: url(../images/wallhaven-vqy2e8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

a{
    text-decoration: none;
    
}

.header{
    width: 100%;
    height: 3.5em;
    
    position: sticky;
    
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.nav h1{
    font-size: 2em;
}

.logo{
    width: auto;
    height: 3.5em;
}


.logout-btn{
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
    padding-left: .3em;
    margin-right: 5px;
    width: 5em;
}

.logout-btn:hover{
    border-bottom: 2px solid;
    text-shadow: 2px 2px 4px #000000;
}

.main{
    width: 90vw;
    height: 70vh; 
    margin-left: 2.5em;
    
    /* border: 1px solid red; */
}

.side-nav{
    /* border: 1px solid black; */
    padding: 50px;  
    width: 80vw;
    height: 70vh; 
    
}

.side-nav form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
}

.side-nav form input{
    width: 12em;
    height: 8em;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    color: white;
    background-image: url(../images/wp11930579-music-black-and-white-wallpapers.jpg);
    background-size: cover;
    background-blend-mode: exclusion;
    box-shadow: 10px 10px 5px rgb(75, 89, 93);
    
}

.side-nav form input:hover{
    transform: scale(1.05);
    text-shadow: 2px 2px 4px #000000;
}